[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "taka-sun.github.io"]
	path = taka-sun.github.io
	url = https://github.com/taka-sun/taka-sun.github.io.git
